<div class="container">
  <h1 class="text-capitalize">novo coletivo</h1>
  <%= simple_form_for @collective do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.submit %>
  <% end %>
  <hr>
  <div>
    <%= link_to "Back to collectives", collectives_path, class: "text-muted"%>
  </div>
</div>
