<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1><%= @collective.name %></h1>
  <p>
    <%= @collective.description %>
  </p>
  <!-- MEMBER LIST -->
  <h2>Owner</h2>
  <p><%= @collective.owner.name %></p>
  <h2>Members</h2>
  <ul>
    <% @collective.members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
  <!-- GENRE LIST -->
  <h2>Genres</h2>
  <ul>
    <% @collective.genres.each do |genre| %>
      <li><%= genre.name %></li>
    <% end %>
  </ul>
  <!-- EVENTS -->
  <h2>Next Events</h2>
  <p>TO BE DONE...</p>
  <hr>
  <div>
    <%= link_to "Back to collectives", collectives_path %>
    <% if policy(@collective).edit? %>
      | <%= link_to "Edit this collective", edit_collective_path(@collective) %>
    <% end %>
    <%= button_to "Destroy this collective", @collective, method: :delete if policy(@collective).destroy? %>
  </div>
</div>
