<div class= "masthead" style="background-image: url('https://art.ngfiles.com/images/1088000/1088037_twosipsofbleach_new-banner-icon.png?f1574212770');">
  <div class="masthead d-flex justify-content-center align-items-center color-overlay">
    <div class="SingleCol container text-center">
      <h1 class="colec-title" style="margin-top: 144px;"><%= @collective.name %></h1>
      <div>
        <p class="colectivedesc text-break text-start"><%= @collective.description %></p>
      </div>
      <div class= "col d-flex justify-content-evenly">
        <h3 style="margin-top: 30rem;">Members</h3>
        <h3 style="margin-top: 30rem;">Events</h3>
        <h3 style="margin-top: 30rem;">Mix Set</h3>
      </div>
    </div>
  </div>
</div>
<!-- MEMBER LIST -->
<div class="container">
  <h2>Owner</h2>
  <p><%= @collective.owner.name %></p>
  <h2>Members (<%= @collective.members.count %>)</h2>
  <ul>
    <% @collective.members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
  <!-- GENRE LIST -->
  <h2>Genres</h2>
  <ul>
    <% @collective.genres.each do |genre| %>
      <li><%= genre.name %></li>
    <% end %>
  </ul>
  <!-- EVENTS -->
  <h2>Next Events</h2>
  <p>TO BE DONE...</p>
  <hr>
  <div>
    <%= link_to "Back to collectives", collectives_path %>
    <% if policy(@collective).edit? %>
      | <%= link_to "Edit this collective", edit_collective_path(@collective) %>
    <% end %>
    <%= button_to "Destroy this collective", @collective, method: :delete if policy(@collective).destroy? %>
  </div>
</div>
