<!-- HERO BANNER DO COLLETIVO -->
<div
  class= "masthead justify-content-center align-items-center d-flex"
  style="background-image: url('<%= cl_image_path @collective.banner.key, crop: :fill unless @collective.banner.key.nil? %>');">
  <div class="row d-flex color-overlay">
    <div class="text-center d-flex row">
      <div class="align-self-end">
        <h1 class="colec-title"><%= @collective.name %></h1>
      </div>
      <p class="colectivedesc text-break text-start fw-semibold"><%= @collective.description %></p>
    </div>
    <div class= "align-self-end d-flex justify-content-evenly w-100">
      <!--
      <h3>Members</h3>
      <h3>Events</h3>
      <h3>Mix Set</h3>
      -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- ROUTES BUTTONS ##TO-DO CENTER AND STYLE IT-->
  <div class="m-4">
    <%= link_to "Back to collectives", collectives_path %>
    <% if policy(@collective).edit? %>
      | <%= link_to "Edit this collective", edit_collective_path(@collective) %>
    <% end %>
    <% if current_user == @collective.owner && policy(Event).new? %>
      | <%= link_to 'Create a new event', new_event_path %>
    <% end %>
  </div>
  <!-- DIV BELOW THE BUTTONS - CONTAINING THE GENRES AND MEMBERS -->
  <div class="d-flex flex-row m-4 justify-content-between">
    <!-- DESCRIPTION -->
    <!-- PENSAR SE NÃO FICA MELHOR DEIXAR A DESCRIÇÃO AQUI DO QUE NO BANNER - COLOCAR O CIDADE/UF LÁ EM CIMA?
    <div class="col m-3">
      <h2>Descrição</h2>
      <p><%= @collective.description %></p>
    </div>
    -->
    <!-- GENRE LIST -->
    <div class="col m-3">
      <h2>Gêneros</h2>
      <ul>
        <% @collective.genres.each do |genre| %>
          <li><%= genre.name.capitalize %></li>
        <% end %>
      </ul>
    </div>
    <!-- MEMBER LIST -->
    <div class="col m-3">
      <h2>Membros</h2>
      <div class="all-members row">
        <% members_in_3 = @collective.members.each_slice(3).to_a %>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper">
                <% members_in_3[0].each do |member| %>
                  <%= render "shared/member_card", member: member %>
                <% end %>
              </div>
            </div>
            <% members_in_3[1..-1].each do |group| %>
              <div class="carousel-item">
                <div class="cards-wrapper">
                  <% group.each do |member| %>
                    <%= render "shared/member_card", member: member %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- EVENTS -->
  <div class="m-4">
    <h2>Próximos Eventos</h2>
    <div class="">
      <!-- CRIA UMA ARRAY DE ARRAYS COM 4 EVENTOS CADA -->
      <% events_in_4 = @collective.events.each_slice(4).to_a %>
      <div id="carouselEvents" class="carousel carousel-dark slide">
        <div class="carousel-inner mx-5 px-5 events-carousel">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <!-- PEGA O PRIMEIRO CONJUNTO DE 4 EVENTOS DO COLETIVO E CRIA OS CARTÕES-->
              <% events_in_4[0].each do |event| %>
                <%= render "events/event_card", event: event %>
              <% end %>
            </div>
          </div>
          <!-- INICIA A ITERAÇÃO DOS DEMAIS CONJUNTOS DE 4 EVENTOS PARA CRIAR OS SLIDES DE 4 CARTÕES EM CADA -->
          <% events_in_4[1..-1].each do |group| %>
            <div class="carousel-item">
              <div class="cards-wrapper">
                <!-- PARA CADA ARRAY DE 4 CRIA-SE UM CARTÃO POR EVENTO -->
                <% group.each do |event| %>
                  <%= render "events/event_card", event: event %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvents" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEvents" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
