<!-- HERO BANNER DO COLLETIVO -->
<% image_url = @collective.banner.key.nil? ? image_path("collective_banner.jpg") : cl_image_path(@collective.banner.key, crop: :fill) %>
<div
  class= "masthead"
  style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7) 0%), url('<%= image_url %>');">
  ),
  <div class="centerpage h-100 d-flex flex-column">
    <!-- DESCRIPTION -->
    <div class="w-100 mb-5">
      <div class="w-50 ms-3">
        <p class="colectivedesc text-break text-start fw-semibold"><%= simple_format(@collective.description) %></p>
      </div>
    </div>
    <!-- TITLE -->
    <div class="w-100 text-center d-flex row my-5">
      <h1 class="colec-title"><%= @collective.name %></h1>
    </div>
    <!-- GENRES -->
    <div class="d-flex justify-content-center align-itens-end w-100 mb-0 mt-5">
      <% @collective.genres.each do |genre| %>
        <h5 class="m-3"><%= genre.name.capitalize %></h5>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <!-- ROUTES BUTTONS ##TO-DO CENTER AND STYLE IT-->
  <div class="m-4 d-flex flex-row justify-content-center">
    <%= link_to "Voltar para coletivos", collectives_path, class: "mx-4" %>
    <% if policy(@collective).edit? %>
      <p>| <%= link_to "Editar coletivo", edit_collective_path(@collective), class: "mx-4" %> </p>
    <% end %>
    <% if current_user == @collective.owner && policy(Event).new? %>
      <p>| <%= link_to 'Criar evento', new_event_path, class: "mx-4" %> </p>
    <% end %>
  </div>
  <!-- MEMBER LIST -->
  <div class="col m-4">
    <div class="d-flex flex-row justifý-content-between">
      <h2 class="me-3">Membros</h2>
      <% if current_user == @collective.owner %>
        <%= render "membership_modal", membership: @membership, collective: @collective %>
      <% end %>
    </div>
    <div class="all-members row align-items-center">
      <% members_in_3 = @collective.members.each_slice(3).to_a %>
      <%= render "shared/members_carousel", members_groups: members_in_3 %>
    </div>
  </div>
  <!-- EVENTS -->
  <div class="m-4">
    <h2>Próximos Eventos</h2>
    <div class="justify-content-evenly">
      <% events_in_3 = @collective.next_events.each_slice(3).to_a %>
      <% if events_in_3.empty? %>
        <h4 class="text-center fst-italic">O coletivo não possui eventos futuros</h4>
      <% else %>
        <%= render "shared/events_carousel", events_groups: events_in_3 %>
      <% end %>
    </div>
  </div>
  <div class="m-4">
    <h2>Eventos Anteriores</h2>
    <div class="justify-content-evenly">
      <% events_in_3 = @collective.previous_events.each_slice(3).to_a %>
      <% if events_in_3.empty? %>
        <h4 class="text-center fst-italic">O coletivo não possui eventos anteriores</h4>
      <% else %>
        <%= render "shared/events_carousel", events_groups: events_in_3 %>
      <% end %>
    </div>
  </div>
</div>
