<div class= "masthead">
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <div class="SingleCol container text-center">
      <h1 class="colec-title"><%= @collective.name %></h1>
      <div>
        <p><%= @collective.description %></p>
      </div>
      <div>
        <h5>Members</h5>
      </div>
    </div>
  </div>
</div>
<!-- MEMBER LIST -->
<div class="container">
  <h2>Owner</h2>
  <p><%= @collective.owner.name %></p>
  <h2>Members (<%= @collective.members.count %>)</h2>
  <ul>
    <% @collective.members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
  <!-- GENRE LIST -->
  <h2>Genres</h2>
  <ul>
    <% @collective.genres.each do |genre| %>
      <li><%= genre.name %></li>
    <% end %>
  </ul>
  <!-- EVENTS -->
  <h2>Next Events</h2>
  <p>TO BE DONE...</p>
  <hr>
  <div>
    <%= link_to "Back to collectives", collectives_path %>
    <% if policy(@collective).edit? %>
      | <%= link_to "Edit this collective", edit_collective_path(@collective) %>
    <% end %>
    <%= button_to "Destroy this collective", @collective, method: :delete if policy(@collective).destroy? %>
  </div>
</div>
