<div class="container">
  <div class="centerpage">
    <h1><%= @user.username %></h1>
    <!-- CONVITES -->
    <% if @user == current_user %>
      <!-- CONVITES PENDENTES -->
      <% if @user.pending_invites.any? %>
        <hr>
        <h2>Convites de Coletivos</h2>
        <% @user.pending_invites.each do |invite| %>
          <%= render "pending_invite_card", invite: %>
        <% end %>
      <% end %>
    <% elsif user_signed_in? && current_user.collectives.any? %>
      <!-- CONVIDAR -->
      <h2>Convidar <%= @user.username %> para algum coletivo?</h2>
      <%= render 'invite_button_list', user: @user %>
    <% end %>
    <!-- ASSOCIAÇÕES A COLETIVOS -->
    <hr>
    <h2>Coletivos</h2>
    <%= render 'shared/collectives_carousel', collectives: @user.collective_memberships, user: @user %>
    <hr>
    <!-- PRÓXIMOS EVENTOS -->
    <% if @user.collectives.any? %>
      <h2>Eventos criados</h2>
      <div class="p-3">
        <% @user.collectives.each_with_index do |collective, i| %>
          <% if collective.next_events.any? %>
            <h3>Coletivo - <%= collective.name %></h3>
            <div class="justify-content-evenly mb-5">
              <% events_in_3 = collective.next_events.each_slice(3).to_a %>
              <%= render "shared/events_carousel", events_groups: events_in_3 %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <!-- TODO: pendente lógica de event_lists e event_list_subscriptions -->
  </div>
</div>
