<div class="container">
  <h1><%= @user.name %></h1>
  <!-- CONVITES -->
  <% if @user == current_user %>
    <!-- CONVITES PENDENTES -->
    <% if @user.pending_invites.any? %>
      <hr>
      <h2>Convites de Coletivos</h2>
      <% @user.pending_invites.each do |invite| %>
        <%= render "pending_invite_card", invite: %>
      <% end %>
    <% end %>
  <% elsif user_signed_in? && current_user.collectives.any? %>
    <!-- CONVIDAR -->
    <h2>Convidar <%= @user.name %> para algum coletivo?</h2>
    <%= render 'invite_button_list', user: @user %>
  <% end %>
  <hr>
  <!-- ASSOCIAÇÕES A COLETIVOS -->
  <div class="user-collectives my-4">
    <h2>Coletivos</h2>
    <%= render 'shared/collectives_carousel', collectives: @user.collective_memberships, user: @user %>
    <hr>
    <!-- PRÓXIMOS EVENTOS -->
    <!-- TODO: pendente lógica de event_lists e event_list_subscriptions -->
  </div>
