<!-- NEEDS TO BE ADAPTED TO RETRIEVE THE INFORMATION OF EACH MEMBER OF THE COLLECTIVE-->
<div class="member-card">
  <!-- HERE -->
  <div>
    <a href="<%= user_path(member)%>">
      <%= image_tag(
        "https://kitt.lewagon.com/placeholder/users/#{member.username}",
        alt: "avatar",
        class: "member-icon",
        onerror: "this.onerror=null;this.src='#{asset_path('member_icon.png')}'"
      ) %>
    </a>
  </div>
  <div class="w-100 member-card-body text-center">
    <p class="member-name"><%= member.username %></p>
    <!-- HERE -->
    <p class="member-role">Role</p>
    <div class="social-links d-flex flex-row justify-content-around">
      <!-- HERE -->
      <%= link_to "", member.soundcloud_url, :target => "_blank", class: "fa-brands fa-soundcloud" %>
      <%= link_to "", member.instagram_url, :target => "_blank", class: "fa-brands fa-instagram" %>
    </div>
  </div>
</div>
