<div class="navbar navbar-expand-sm navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_white.png" %>
    <% end %>
    <!-- botão de about -->
    <%= link_to "Sobre Nós", about_path, class: "about-link" %>
    <!-- final botão de about -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="nav-item m-2 dropdown">
            <%= image_tag(
              "https://kitt.lewagon.com/placeholder/users/#{current_user.username}",
              alt: "avatar",
              id: "navbarDropdown",
              class: "avatar dropdown-toggle",
              data: { bs_toggle: "dropdown" }
            )
              %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to(
                "Meu Perfil",
                current_user,
                class: "dropdown-item text-dark"
              ) %>
              <%= link_to(
                "Configurações",
                edit_user_registration_path,
                class: "dropdown-item text-dark"
              ) %>
              <%= link_to(
                "Sair",
                destroy_user_session_path,
                class: "dropdown-item text-dark",
                data: { turbo_method: :delete }
              ) %>
            </div>
          </div>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to "LOGIN/SIGNUP", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
