<div class="col card p-0 m-2 event-card d-flex" style="width: 18rem;">
  <div class="event-time d-flex justify-content-end align-items-center m-0 p-1 w-100">
    <h5 class="m-0 p-0"><%= event.start_time.strftime("%d/%m/%Y") %></h5>
  </div>
  <div class="event-photo m-0 p-0">
    <a href="<%= event_path(event) %>">
      <% if event.banner.key.nil? %>
        <%= image_tag "event_thumb.jpg", {class: "img-fluid img-card"} %>
      <% else %>
        <%= cl_image_tag event.banner.key, {class: "img-fluid img-card"} %>
      <% end %>
    </a>
  </div>
  <div class="event-collective d-flex justify-content-start align-items-center m-0 p-1 w-100">
    <h5 class="m-0 p-0"><%= link_to event.name, event %></h5>
  </div>
</div>
