<ul class="list-group">
  <% event.event_lists.each do |list| %>
    <li class="list-group-item d-flex justify-content-between align-items-start p-0">
      <div class="ms-2 me-auto flex-fill">
        <div class="fw-bold">
          <%= list.name %>
          <% if current_user == event.collective.owner %>
            <a href="<%= event_list_print_path(event, list)%>" class="printer-link" target="_blank">
              <i class="fas fa-print"></i>
            </a>
          <% end %>
        </div>
        <%= list.requirement %>
      </div>
      <div class="p-0 m-0 flex-fill">
        <% unless list.open? %>
          <span class="badge text-bg-dark">Encerrada</span>
        <% else %>
          <% if EventListSubscription.exists?(user: current_user, event_list: list) %>
            <%= button_to(
            "Desinscrever-se",
            event_list_subscribe_path(event, list),
            method: :delete,
            class: "btn btn-outline-danger w-100 h-auto"
          ) %>
          <% else %>
            <%= button_to(
            "Increver-se",
            event_list_subscribe_path(event, list),
            class: "btn btn-outline-success w-auto h-auto"
          ) %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
