<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :collective, collection: current_user.collectives %>
    <%= f.association :genres, collection: Genre.all, as: :check_boxes %>
    <%= f.input :city %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
