<div class="container d-flex">
  <!--
  <div class="img-fluid">
    <%= image_tag "flyer_1.jpeg", class: "img-fluid rounded-end", alt: "event-flyer" %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @event.name %></h5>
    <p class="card-text"><%= @event.description %></p>
    <p class="card-text"><small class="text-body-secondary"><%= @event.start_time.strftime("%d/%m/%Y %H:%M") %></small></p>
    <p class="card-text"><small class="text-body-secondary"><%= @event.end_time.strftime("%d/%m/%Y %H:%M") %></small></p>
  </div>
  -->
  <div style='width: 400px; height: 300px;'
         data-controller="mapbox"
         data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
         data-mapbox-marker-value="<%= @marker %>">
  </div>
  <div class="align-self-center">
  </div>
</div>
