<div class="container">
  <div class="hero-event d-flex flex-row mt-5 pt-5">
    <div class="img-fluid rounded float-start col-6">
      <% if @event.banner.key.nil? %>
        <%= image_tag "event_thumb.jpg", {class: "img-fluid img-card"} %>
      <% else %>
        <%= cl_image_tag @event.banner.key, {class: "img-fluid img-card"} %>
      <% end %>
    </div>
    <div class="col-6 align-self-center ms-3">
      <h2 class=""><%= @event.name %></h2>
      <p class="card-text"><%= @event.address %></p>
      <p class="card-text my-0">Início: <%= @event.start_time.strftime("%d/%m/%Y %H:%M") %></p>
      <p class="card-text my-0">Fim: <%= @event.end_time.strftime("%d/%m/%Y %H:%M") %></p>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-center my-5">
    <p><%= link_to "Todos os Eventos", events_path, class: "mx-3" %></p>
    <p>| <%= link_to "Conheça o coletivo!", collective_path(@event.collective), class: "mx-3" %></p>
    <% if policy(@event).edit? %>
      <p>| <%= link_to "| Editar evento", edit_event_path(@event), class: "mx-3" %></p>
      <p>| <%= render "modal_list", event: @event, event_list: @event_list, class: "mx-3" %></p>
    <% end %>
  </div>
  <hr>
  <div class="event-description d-flex flex-row my-3">
    <div class="col-6 mx-2">
      <h2>Descrição</h2>
      <p><%= simple_format(@event.description) %></p>
      <% ticket_link = @event.ticket_link.nil? ? "https://shotgun.live/pt-br" : @event.ticket_link %>
      <p>
        <a href="<%= ticket_link %>" target="_blank">Clique aqui para comprar seu ingresso</a>
      </p>
    </div>
    <div class="col-6 mx-2">
      <div class="map-box my-2">
        <h2>Localização</h2>
        <%= render "mapbox", marker: @marker %>
      </div>
      <div class="all-lists my-4">
        <div class="d-flex justify-content-between">
          <h2>Listas do Evento</h2>
          <% if policy(@event).edit? %>
            <%= render "modal_edit_eventlist", event: @event %>
          <% end %>
        </div>
        <%= render "event_lists", event: @event %>
      </div>
    </div>
  </div>
</div>
