<section>
  <%= image_tag "folhas_left.png" %>
  <%= image_tag "folhas_right.png" %>
  <%= image_tag "logo_center.png" %>
</section>
<%# <div class="container masthead justify-content-center center-block align-items-center d-flex"> %>
<%# <div class="landing-logo align-items-center center-block justify-content-center"> %>
<%# <%= image_tag "logo_fix.png" %>
<%# <div class="landing-text justify-content-around d-flex text-center"> %>
<%# <h5 class="fw-light text-uppercase"><%= link_to "Eventos", events_path</h5> %>
<%# <h5 class="fw-light text-uppercase"><%= link_to "Coletivos", collectives_path</h5> %>
<%# </div> %>
<%# <div class="align-self-end landing-date"> %>
<%# <%= image_tag "date_img.png" %>
<%# </div> %>
<%# </div> %>
<%# <footer class="text-center p-3" style="background-color: rgba(0, 0, 0, 1)"> %>
<%# <a class="text-white" href="https://temrole.herokuapp.com"> %>
<%# <h6>TemRole.org</h6> %>
<%# </a> %>
<%# </footer> %>
<%# </div> %>
