<!-- CUSTOM CSS IN THE MY-PROFILE FILE -->
<!-- NEEDS TO IMPLEMENT THE SAME LOGIC OF THE ITERATION FOR THE CAROUSELS AS THE COLLECTIVE-SHOW-->
<div class="container">
  <!-- INFORMAÇÕES PESSOAIS DO USUÁRIO -->
  <div class="d-flex">
    <div>
      <%= image_tag "member_icon.png", class: "user-icon" %>
      <h2 class="">User name</h2>
    </div>
    <div class="d-flex row">
      <p class="btn btn-outline-dark">Uptade Your Profile</p>
    </div>
  </div>
  <!-- COLETIVOS/EVENTOS/ETC -->
  <div class="d-flex row m-5">
    <!-- SOLICITAÇÕES DE COLETIVOS #TO-DO INCLUIR IF/ELSE -->
    <div class="membership my-4">
      <h2>Solicitações de Coletivos</h2>
      <%= render "membership_request" %>
      <%= render "membership_request" %>
    </div>
    <!-- PRÓXIMOS EVENTOS -->
    <div class="next-events my-4">
      <h2>Seus Próximos Eventos</h2>
      <div id="carouselEvents" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <%= render "events/event_card", event: @events.first %>
              <%= render "events/event_card", event: @events.first %>
              <%= render "events/event_card", event: @events.first %>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <%= render "events/event_card", event: @events.last %>
              <%= render "events/event_card", event: @events.last %>
              <%= render "events/event_card", event: @events.last %>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <%= render "events/event_card", event: @events.sample %>
              <%= render "events/event_card", event: @events.sample %>
              <%= render "events/event_card", event: @events.sample %>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvents" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEvents" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- COLETIVOS DO USUÁRIO -->
    <div class="user-collectives my-4">
      <h2>Seus Coletivos</h2>
      <div id="carouselCollective" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper">
              <%= render "collectives/collective_card", collective: @collectives.first %>
              <%= render "collectives/collective_card", collective: @collectives.first %>
              <%= render "collectives/collective_card", collective: @collectives.first %>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <%= render "collectives/collective_card", collective: @collectives.last %>
              <%= render "collectives/collective_card", collective: @collectives.last %>
              <%= render "collectives/collective_card", collective: @collectives.last %>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-wrapper">
              <%= render "collectives/collective_card", collective: @collectives.sample %>
              <%= render "collectives/collective_card", collective: @collectives.sample %>
              <%= render "collectives/collective_card", collective: @collectives.sample %>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCollective" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCollective" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
