<div class="container my-3">
  <div class="all-members row mx-auto my-auto justify-content-center p-5">
    <div id="carouselExampleControls" class="carousel slide" data-slide="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="col">
            <%= render "members_carousel" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "members_carousel" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "members_carousel" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "carousel2" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "carousel2" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "carousel2" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "carousel3" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "carousel3" %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col">
            <%= render "carousel3" %>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
