<!-- CUSTOM CSS IN THE MY-PROFILE FILE -->
<div class="container">
  <!-- INFORMAÇÕES PESSOAIS DO USUÁRIO -->
  <div class="d-flex row">
    <%= image_tag "member_icon.png", class: "user-icon" %>
    <h2 class="">User name</h2>
  </div>
  <!-- COLETIVOS/EVENTOS/ETC -->
  <div class="d-flex row m-5">
    <!-- SOLICITAÇÕES DE COLETIVOS #TO-DO INCLUIR IF/ELSE -->
    <div class="membership my-4">
      <h2>Solicitações de Coletivos</h2>
    </div>
    <!-- PRÓXIMOS EVENTOS -->
    <div class="next-events my-4">
      <h2>Seus Próximos Eventos</h2>
      <div class="all-events row">
        <div id="carouselExampleControls" class="carousel slide" data-slide="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col">
                <%= render "events/event_card", event: @events.last %>
              </div>
            </div>
            <% @events.first(10).each do |event| %>
              <div class="carousel-item">
                <div class="col">
                  <%= render "events/event_card", event: event %>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- COLETIVOS DO USUÁRIO -->
    <div class="user-collectives my-4">
      <h2>Seus Coletivos</h2>
      <div class="all-collectives row">
        <div id="carouselCollectivesExampleControls" class="carousel slide" data-slide="carousel">
          <div class="carousel-inner-collectives">
            <div class="carousel-item-collective active">
              <div class="col">
                <%= render "collectives/collective_card", collective: @collectives.last %>
              </div>
            </div>
            <% @collectives.first(10).each do |collective| %>
              <div class="carousel-item-collective">
                <div class="col">
                  <%= render "collectives/collective_card", collective: collective %>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselCollectivesExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselCollectivesExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="">
      <h2>funcionando</h2>
    </div>
  </div>
</div>
